*{
    font-family: 'Archivo Black', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

body{
    
    background-color: rgb(47, 36, 47);
    color: white;
    justify-items: center   ;
    padding-bottom: 10em;
    
}

a{
    text-decoration: none;
    color: white;
}

.background-page-container {
    position: fixed;            
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 3em);   
    overflow: hidden;           
    z-index: -1;               
}

.background-page {
    position: absolute;
    top: 3em;                   
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    min-width: 85em;
}

.bottom-bar{
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 3em;
    z-index: 99;
    background-color: rgb(47, 36, 47);
}




.Options-holder{
   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 1em;
    width: fit-content;
}

.Option{
    
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 12em;
    
    padding: 2em 1em 0em 1em;
    text-align: center;
    align-content: center;
    justify-content: center;

    box-shadow: 0px 10px 20px rgba(0, 0, 0);

    
 
    border: 0;
    border-radius: 25px;
}

.Option-text{
    font-size: 1.3em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 100ms;
    gap: 0em;
}



.icon{
    align-self: center;
    position: relative;
    width: 4em;
    height: 4em;
   
    
}

.icon-large{
    align-self: center;
    position: relative;
   
    height: 7em;
}

.news{
    filter: drop-shadow(0px 0px 15px rgba(255, 238, 0, 0.754));
}

.chest{
    filter: drop-shadow(0px 0px 15px rgba(0, 255, 34, 0.7));
}

.Big-Option{
    grid-column: span 3;
    width: auto;
}

#store{
    
    background: linear-gradient(to right top, #4e4e4e, #568657);
    transition: 500ms;
}

#store:hover{
    background: linear-gradient(to left, #446144, #568657);
    transition: 500ms;
    
}



#news{
    background: linear-gradient(to left bottom, #4e4e4e, #818656);
    transition: 500ms;
}


#news:hover{
    background: linear-gradient(to right, #6d7248, #818656);
    transition: 500ms;
}

#server-stat{
    background: linear-gradient(to left top, #4e4e4e, #865656);
    transition: 500ms;
}

#server-stat:hover{
    background: linear-gradient(to right bottom, #6d4c4c, #865656);

}

#community{
    background: linear-gradient(to left top, #4e4e4e, #805686);
    transition: 500ms;
}

.Option:hover{
    scale: 1.03;
    transition: 500ms;
    
   
}

.logo-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 0em; 
    margin-top: 5em;
}

.logo {
    
    width: 18em;
}

/* top bar */


.top-bar{
    display: flex;
    
    flex-direction: row;


    align-items: center;
    justify-content:first baseline;
    padding: 0 2em;
    box-sizing: border-box;
    z-index: 100;
    
    position: fixed;
    width: 100%;
    height: 5em;
    background-color: rgb(32, 25, 32);
    top: 0;
    left: 0;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.539);
    
}

.top-bar-logo{
    
    height: 110%;
    object-fit: contain;
}

.btns-holder{
    padding-left: 2em;
}

.btns{
    font-weight: 300;
    font-size: 1em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    color: rgb(146, 146, 146);
    border: 0;
    background: none;
}

.spacing{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(75, 75, 75);
}


.copy-ip{
    position: absolute;

    right: 5%;
    display: flex;
    filter: drop-shadow(0px 0px 8px rgba(32, 218, 255, 0.7));
    gap: 0;
}

.copy-ip-btn{
    cursor: pointer;
    border: 0;
    border-radius: 15px 0px 0px 15px;
    font-size: 1em;
    padding: 0.8em 1em;
    color: white;
    background: linear-gradient(to top, #27476e, #286cbe);
}

.copy-ip-text{
    border-radius: 0 10px 10px 0;
    background-color: rgb(33, 33, 33);
    padding: 0.8em 2em;
    font-size: 1em;
    
    color: white;
}





/* panels */


.adapted-side-panels{
    display: flex;
    flex-direction: column;
}


.large-side-panel {
    width: 20em;    
    height: fit-content;    
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.05); 
    backdrop-filter: blur(10px);   
    border-radius: 20px;                         
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);                
    -webkit-backdrop-filter: blur(10px);  
    z-index: 10;         
    border: 1px solid rgba(255, 255, 255, 0.15); 
    padding: 2em;
    
    
}

.side-panel{
    width: 20em;    
    height: 15em;    
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.05); 
    backdrop-filter: blur(10px);   
    border-radius: 20px;                         
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);                
    -webkit-backdrop-filter: blur(10px);  
    z-index: 10;         
    border: 1px solid rgba(255, 255, 255, 0.15); 
    padding: 2em;
}



.sidepanels-and-options {
    display: flex;
    gap: 3em;   
    flex-direction: row;
    align-items: flex-start;
    margin-top: 1em;     
    justify-content: center; 
                 
    width: 100%;
         
}


@media (max-width: 1050px) {
  .copy-ip{
    display: none;
  }
}

@media (max-width: 1420px) {
  .large-side-panel{
    display: none;
  }

  

  
}